body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: rgb(35, 53, 84);
    color: white; /* Added to make the text white */
}

button {
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 50%;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

button:active {
    background-color: #e64a19;
}

textarea {
    width: 100%;
    margin-top: 20px;
}

#visualizer {
    width: 100%;
    height: 100px;
    background-color: rgb(100, 255, 218);
    margin-top: 20px;
}
